.page {
	background: rgb(245, 245, 245);
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 50px;
	width: 800px;
}

.productionHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.productionHeader h3 {
	font-size: 24px;
}

.noProductsFound {
	font-size: 20px;
	font-style: italic;
	text-align: center;
	margin-top: 40px
}

.updated {
	font-style: italic;
	font-size: 10px;
}

.tableActions {
	display: flex;
	gap: 10px;
}

.button {
	color: black;
	font-weight: 700;
	border: 1px solid black;
	border-radius: 8px;
	background: yellow;
	padding: 10px 25px;
}

.button:hover {
	opacity: 0.5;
	cursor: pointer;
}

.tooltip {
	font-size: 20px;
}

.modal {
	width: 300px;
	height: 140px;
	background: white;
	border: 1px dotted red;
	margin: 0 auto;
	margin-top: 100px
}

.modal h2 {
	text-align: center;
	padding: 20px;
}

.buttonsModal {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.errorloading {
	margin-bottom: 15px;
}